/include/ "system-conf.dtsi"
/ {
};

&sdhci1 {
	sd-uhs-sdr104;
	disable-wp;
};

&gem0 {
	phy-handle = <&phy0>;
	phy0: phy@15 {
		reg = <0x0F>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

&spi0 {

	gpiom1: gpio@1 {
		compatible = "microchip,mcp23s08";
		gpio-controller;
		#reset-cells = <1>;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio>;
		interrupts = <25 8>;
		microchip,spi-present-mask = <0x01>;
		interrupt-controller;
		#interrupt-cells = <0x2>;
		reg = <1>;
		spi-max-frequency = <10000000>;
	};
	wilc_spi@0 {
			compatible = "microchip,wilc1000", "microchip,wilc3000";
			spi-max-frequency = <48000000>;
			reg = <0>;
			irq-gpios = <&gpiom1 1 0>;
			reset-gpios = <&gpiom1 2 0>;
			chip_en-gpios = <&gpiom1 0 0>;
			status = "okay";
		};

};

/*&usb0 {
	status = "disabled";
};*/

&dwc3_0 {
	dr_mode = "host";
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
	phys = <&lane1 4 0 0 100000000>;
	snps,dis_u2_susphy_quirk ;
	snps,dis_u3_susphy_quirk ;
	maximum-speed = "super-speed";
};

&dwc3_1 {
	 snps,dis_u2_susphy_quirk ;
	 snps,dis_u3_susphy_quirk ;
	 //resets = <&gpiom1 5>;
	 dr_mode = "host";
};
